html{margin: 0;}

nav{
	background-color: #009688;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#right{
	padding-top:10px;
	display:inline;
	float:right;
}
li{
	float: left;
}
li a{
	 display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:visited{
	color:white;
	text-decoration: none;
}
li a:hover{
	color:#E0E0E0;
	text-decoration: none;
}

header{
	background-color: #009688;
	color: white;
	text-align: center;
	padding: 70px;
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
}

footer{
	padding:2em;
	/*height: 300px;*/
	background-color: #616161;
}

.post-footer{
	text-align: center;
	color:white;
	padding-top: 15px;
	height:50px;
	background-color: #212121;
}

.titulo2{
	padding-top: 10px;
	padding-bottom: 40px;
}

#services{
	background-color: #ECEFF1;
	text-align: center;
}
#contactInfo{
	color:white;
}
#contactInfo a{
	color:white;
	text-decoration: underline;
}
#perfil{
	text-align:justify;
}
.cardText{
	text-align: justify;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    min-height: 400px
}

#myCarousel>ol {
    margin: 0 auto;
}

@media screen and (max-width: 775px){
	header{
		padding:30px;
	}
}
@media screen and (max-width: 767px){
	#bioText{
		margin-top: 20px;
	}	
	#bioText h2{
		text-align: center;
	}
}
@media screen and (max-width: 575px){
	#services{
		padding-left:3em;
		padding-right:3em;
	}
}
